dist
node_modules
assets
vendor
.angular
.husky
.vscode
*.js
*.lock
.prettierignore
.gitignore
.dockerignore
.npmrc
dockerfile
.gitlab-ci.yml
sonar-project.properties
azure-pipelines.yml
.npmrc
update-version.sh
